* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

button {
	display: block;
	margin: 25px;
}

button:hover {
	cursor: pointer;
}

.hidden {
	display: none;
}

#chalQuiz-form {
	width: 250px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.chalQuestions {
	/*list-style: none;*/
	padding-left: 0;
}

.answer {
	display: block;
	margin-bottom: 20px;
	border: 1px solid grey;
	padding: 20px;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}

.tracker, .score {
	border: 1px solid black;
	color: grey;
	font-style: italic;
	font-size: 20px;
	margin: 15px 0 15px 0;
	width: 33.33%;
	text-align: center;
}
