<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
	<title>Challenger Quiz</title>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="../styles/float-grid.css" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
    <header>
	    <div class="row">
	    	<div class="col-12">
	       		<h1>Challenger Quiz</h1>
       		</div>
	</header>
	<main>
		<div class="row">
	        <div class="solution js-solution col-12">
	        	<p>Answer: "<span>fofiddlefum</span>" was Correct!</p>
        	</div>
        	<div class="solution js-solution col-12">
	            <p>Answer: "<span>fofiddlefum</span>" was Incorrect.</p>
            </div>
            <div class="solution js-solution col-12">
	        	<p>The correct answer is: "<span>fofiddlefum</span>"</p>
	        </div>
			<div class="demon col-12">
				<img src="https://hothardware.com/ContentImages/NewsItem/39893/content/small_challenger_srt_hellcat.jpg">
			</div>
		</div>
    </main>
	 <footer>
	 	<div class="row footer">
	    	<div class="js-tracker tracker col-3">
	    		<p>Question: <span>1/10</span></p>
	    	</div>
	    	<div class="js-score score col-3">
	    		<p><span>0/1 </span>Correct</p>	
	    	</div>
	    	<div class="js-back back col-3">
	    		<p><a href="questions/question1.html">Back</a></p>
	    	</div>
	    	<div class="js-next next col-3">
	    		<p><a href="questions/question2.html">Next</a></p>
	    	</div>
	    </div>
    </footer>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>