<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Challenger Quiz</title>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Challenger Quiz</h1>
        <form id="js-quizForm quizForm">
        	<div class="js-question question">
        		<label for="question">Ladies and Gentlemen, Start your engines</label>
        		<button type="submit">Go! Vrooom</button>
        	</div>
        	<div class="js-answer answer">
	        	<input type="radio" name="answer-one">
	        	<label for="answer-one">Answer 1</label>
			</div>
			<div class="js-answer answer">
	        	<input type="radio" name="answer-two">
	        	<label for="answer-two">Answer 2</label>
			</div>
			<div class="js-answer answer">
	        	<input type="radio" name="answer-three">
	        	<label for="answer-three">Answer 3</label>
			</div>
			<div class="js-answer answer">
	        	<input type="radio" name="answer-four">
	        	<label for="answer-one">Answer 4</label>
	        </div>	
    	</form>
    	<div class="flex-container">
	    	<div class="js-tracker tracker">
	    		<p>Question: <span>1/10</span></p>
	    	</div>
	    	<div class="js-score score">
	    		<p><span>0/0</span>Correct</p>
	    	</div>
	    </div>
    </div>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
    <script type="text/javascript" src="index.js"></script>
</body>
</html>