<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Challenger Quiz</title>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
	<div class="container">
		<h1>Challenger Quiz</h1>

		<div class="intro">
			<h2>Intro to Modern Muscle</h2>
			<p>Since the dawn of the muscle car <br>The Dodge Challenger has held its own <br>As an Icon, a Symbol <br>Of speed and Power <br> <hr>Test your knowledge of this <br>Modern Legend <hr></p>
		</div>

		<form id="js-quiz-form quiz-form">
			<div class="js-begin begin">
				<label for="start">Ladies and Gentlemen, Start your engines</label>
				<button type="submit">Go! Vrooom</button>
			</div>

    	<div class="flex-container">
	    	<div class="js-info info">
	    		<p>Thank you for your time:)</p>
	    	</div>
	    	<div class="js-info2 info2">
	    		<p>Please enjoy the show.</p>
	    	</div>
	    </div>
    </div>
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>