* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

button {
	display: block;
	margin: 25px;
}

button:hover {
	cursor: pointer;
}

.intro {
	font-size: 20px;
}

.hidden {
	display: none;
}

#chalQuiz-form {
	width: 250px;
}

.container {
	max-width: 600px;
	margin: 0 auto;
}

.begin {
	font-size: 20px;
}

.question {
	/*list-style: none;*/
	padding-left: 0;
	margin: 10px 0 15px 0;
	font-size: 20px

}

.answer {
	display: block;
	margin-bottom: 20px;
	border: 1px solid grey;
	padding: 20px;
	font-size: 18px;
}

.answer > label {
	margin-left: 10px;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}

.solution p{
	border: 1px solid black;
	font-size: 18px;
	margin: 15px 0 15px 0;
	padding: 15px 0 15px 0;
	text-align: center;
}

.tracker, .score, .next, .start-over{
	border: 1px solid black;
	color: grey;	
	font-style: italic;
	font-size: 16px;
	margin: 15px 0 15px 0;
	width: 25%;
	text-align: center;
}

.next a{
	color: grey;
}

.info, .info2 {
	border: 1px solid black;
	color: grey;
	font-style: italic;
	font-size: 18px;
	margin: 10px 0 10px 0;
	width: 33.33%;
	text-align: center;
}


