* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Mono', monospace;
	font-size: 20px;
}

img {
	margin: 20px auto 20px auto;
	width: 100%;
}

.p1 {
	text-align: left;
}

.p2 {
	text-align: center;
}

.p3 {
	text-align: right;
}

.begin > p > button {
	width: 100%;
    background-color: black;
    border: none;
    color: white;
    padding: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.begin > p > button:hover {
	color: red;
	cursor: pointer;
}

.info, .info2 {
	border: 1px solid black;
	color: grey;
	font-style: italic;
	font-size: 18px;
	width: 100%;
	margin: 10px 0 10px 0;
	text-align: center;
}

.question {
	padding-left: 0;
	margin: 10px 0 15px 0;
	font-size: 20px
}

.wrapUp {
	padding-left: 0;
	margin: 10px 0 10px 0;
	font-size: 18px
}

.answer {
	margin-bottom: 20px;
	border: 1px solid grey;
	padding: 20px;
	font-size: 18px;
}

 .solution-correct {
 	background-color: green;
 	color: white;
 	font-size: 24px;
	text-align: center; 	
	margin-top: 15px;
}

 .solution-wrong {
 	background-color: maroon;
 	color: white;
 	font-size: 24px;
	text-align: center; 	
	margin-top: 15px;
}

.footer p {
	border: 1px solid black;
	color: grey;	
	font-style: italic;
	font-size: 16px;
	margin: 15px 0 15px 0;
	width: 100%;
	text-align: center;
	padding: 15px;
}

.footer p button {
    background-color: white;
    border: none;
    color: grey;
    padding: 0;	
}

.footer p button:hover {
	color: red;
	cursor: pointer;
}

.finish p {
	border: 1px solid black;
	font-size: 18px;
	margin: 15px 0 15px 0;
	padding: 15px 0 15px 0;
	text-align: center;
}

.finish-score {
	color: green;
	font-style: italic;
	font-size: 20px;
}
